<section data-section-id="{{ section.id }}" data-section-type="testimonials">
  <h2 class="section-name">{{ section.settings.title }}</h2>
  <div class="testimonials-slider">
    {%- if section.blocks.size > 0 -%}
    {%- for block in section.blocks -%}
    <figure class="testimonial-container">
      <div class="testimonial-img-container">
        <img src="{%- if block.settings.avatar == blank -%}//cdn.shopify.com/s/files/1/0382/4185/files/male.png?v=1613363122{%-else-%}{{ block.settings.avatar | img_url: '300x300' }}{%-endif-%}" alt="Avatar">
      </div>
      <div class="testimonial-quote-container">
        <blockquote>
          {%- if block.settings.quote != blank -%}{{ block.settings.quote }}{%- endif -%}
        </blockquote>
        <footer>
          <cite>
            {%- if block.settings.author != blank -%}<p class="testimonial-author">{{ block.settings.author }}</p>{%- endif -%}
          </cite>
        </footer>
      </div>
    </figure>
    {%- endfor -%}
    {%- endif -%}
  </div>
</section>


{% schema %}
{
  "name": "Testimonials",
  "class": "index-section",
  "max_blocks": 25,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Testimonials"
    }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "avatar",
          "label": "Avatar"
        },
        {
          "type": "richtext",
          "id": "quote",
          "label": "Text",
          "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author",
          "default": "Author’s name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Text",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}